/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
    --background-color:#ffffff;
}

body {
    background-color: var(--background-color);
    margin:0;
    font-family:'Avenir';
}

.header_delivery {
    color:#ffffff;
    background-color:#000000;
    width:100%;
    margin:0;
    text-align:center;
    padding:.1px;
    font-size:12px;
}

.nav {
    display:flex;
    flex-direction:row;
    list-style-type:none;
    padding-left:1em;
    margin-top:8px;
    margin-bottom:0px;
}

header ul :first-child {
    margin-right:auto;
}

.logo_Bijenkorf {
    display:flex;
    width:7em;
    margin-left:0;
    margin-top:.25em;
}


.nav .user {
    width:2.2em;
    margin-right:1em;
}

.nav .heart {
    width:2.2em;
    margin-right:1em;
    
}

.nav .shopping-bag {
    width:2.2em;
    margin-right:1em;
}

.hamburger {
    background-color:#ffffff;
    border:1px solid #f1f1f1;
}

.hamburgermenu {
    margin-left:.5em;
    margin-top:.5em;
}

.zoekbalk {
    position:relative;
    display:inline-block;
    background-color:#f6f6f6;
    border-radius:2px;
    margin-right:auto;
    width:80%;
    min-width:inherit;
}

.zoekbalk p {
    color:#000000;
    font-size:14px;
    font-weight:100;
    opacity:.8;
    padding-left:1em;
    padding-right:5em;
    margin-top:.5em;
    margin-bottom:.5em;
}

.bijenkorf_header {
    max-height: 20em;
    min-height: 10em;
    max-width: 100vw;
    overflow: auto;
    object-fit: cover;
}

main section:first-of-type {
    width:100%;
    position:relative;
}

main section h3:first-of-type {
    position:absolute;
    top:3em;
    left:2em;
    right:2em;
    text-align:center;
    font-size:10px;
    font-weight:100;
    text-transform:uppercase;
    color:#ffffff;
}

main section h1:first-of-type {
    position:absolute;
    top:2em;
    left:2em;
    right:2em;
    text-align:center;
    font-size:20px;
    font-weight:300;
    color:#ffffff;
}

.hoofdafbeelding a:first-of-type {
    position:absolute;
    top:6em;
    left:6em;
    right:6em;
    color:black;
    background-color:white;
    padding-top:.5em;
    padding-bottom:.5em;
    text-align:center;
}

main section:nth-of-type(2) {
    background-color:white;
}

.een_nieuwe_balans img{
    width:100%;
}
